@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:ital,wght@0,400;1,100&display=swap');

:root {
    --primary-color: #765827;
    --secondary-color: #C8AE7D;
    --text-color: #fff;
    --hover-color: #EAC696;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

nav.menu {
    background: var(--secondary-color);
    height: 80px;
}

.menu .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul.nav-bar {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.nav-bar li {
    margin-top: 20px;
}

.menu li {
    list-style: none;
    margin-right: 10px;
    padding: 10px 5px;
    width: 120px;
}

.menu li:hover {
    background: var(--primary-color);
    color: white;
    border-radius: 10px;
    z-index: 5;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li ul li {
    display: none;
    width: 100px;
    margin-top: 10px;
}

.menu li:hover ul li {
    display: block;
    border-bottom: 1px solid #6d6d6d;
}

.menu li:hover ul li:last-child {
    border: none;
}

ul.sub-menu li a:hover {
    color: var(--secondary-color);
}


/* search style */
.search {
    display: flex;
    justify-content: left;
    margin-left: 150px;
    margin-top: -55px;
}

.search input {
    width: 15%;
    padding: 10px 0px 10px 20px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;

}

.btn-search {
    padding: 0px 20px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: var(--hover-color);

}


.btn-search:hover {
    background-color: #f4d4aa;
    cursor: pointer;
}

/* icon style */
.icon {
    display: flex;
    justify-content: right;
    margin-right: 120px;
}

.icon i {
    padding: 0px 10px;
}

.icon li {
    list-style: none;
    padding: 0px 10px;
    margin-top: -30px;
    color: var(--text-color);
    font-size: 1.1rem;
    cursor: pointer;
}

.icon li a {
    text-decoration: none;
    color: white;
}

.list-icon i:hover {
    color: #765827;
}

/* footer style */
.container {
    max-width: 1170px;
    margin: auto;
  }
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #c8ae7d;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #765827;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #765827;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #765827;
    background-color: #ffffff;
}